{% extends "base.html" %}

{% block title %}
Ordering System
{% endblock %}

{% block username %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1>
                Feature Car
            </h1>
            {% include 'shared/stock_item.html' %}
        </div>
        <div class="col-md-9">
            <article>
                <header>
                    <h5>
                        Horan & Sons, delivering internet prices from real people.
                    </h5>
                    <p>
                        Horan & Sons is a used car dealer based in Wakefield where our aim is to help you drive away with the
                        second hand car that suits your needs both practically and financially. We offer some of the most
                        competitive deals on used cars around the county and across a variety of car brands. We have a great
                        selection of used cars in a range of makes and models, from family cars to small hatchbacks, we are
                        confident that we can find the right car for you.
                    </p>
                    <p>
                        At Horan & Sons we have built a reputation for providing quality customer service.
                        This is because we have extensive knowledge in supplying quality used cars.
                        But don't take our word for it, come and visit us and you will see why so many car buyers in the country
                        keep visiting us to buy their next car. Even if you are not thinking about changing your car,
                        we can offer you friendly advice and expertise in a no pressure environment.
                    </p>
                    <p>
                        For more information on all our used cars or services browse through our website. We should have the
                        car of your choice but if for any reason you are looking for a specific make and model that we don't
                        have in stock, please contact us and we will be happy to help you find the right car.
                    </p>
                    <p>
                        We pride ourselves on our wide range of stock but deals this good don't last and our stock of used cars
                        changes frequently. Don't delay, contact one of the team today to arrange a test drive.
                    </p>
                </header>
            </article>
        </div>
        <div class="col-md-3 well">
            {% include 'shared/search.html' %}
        </div>
    </div>
</div>

{% endblock %}
