{% extends "base.html" %}

{% block title %}
Ordering System
{% endblock %}

{% block username %}
{% endblock %}

{%block jumbotron %}
<div class="jumbotron">
      <div class="container">
          <h1>
              Stream 2 Final Project
          </h1>
          <p>
              Web application for the backend module of the Full-Stack Diploma.
          </p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <article>
        <header>
            <h1>
                Sales Reporting & Stock Management Application
            </h1>
            <p>
                This is a simple application designed for Admin of a web application. <br/>
                It will have a very basic stock ordering system, to keep company stocks at an optimal level. <br/>
                It's main goal is to display sales reports to the Admin User.
            </p>
        </header>
        <section>
            <h2>
                Languages, Frameworks & Libraries Used:
            </h2>
            <ul>
                <li>
                    HTML5
                </li>
                <li>
                    Css3
                </li>
                <li>
                    Bootstrap (Cerulean theme downloaded from Bootswatch.com)
                </li>
                <li>
                    Python 2.7
                </li>
                <li>
                    Flask, Jinja2, Migrate, Login, WTForms, script, mysql-python, flask-sqlalchemy
                </li>
                <li>
                    SQLAlchemy & MySQL
                </li>
            </ul>
        </section>
    </article>
</div>
{% endblock %}
