{% extends "base.html" %}

{% block title %}
404 - Page Not Fouond
{% endblock %}

{% block jumbotron %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="container text-center">
        <div class="col-md-12">
            <h2 style="margin-left:auto; margin-right: auto;">
                404 - Page Not Found
            </h2>
        </div>
        <div class="col-md-12">
            <p>
                Sorry, not sure what you were looking for.
            </p>
            <p>
                Unfortunately you are looking in the wrong place.
            </p>
        </div>
        <div class="image-responsive">
            <img src="{{url_for('static', filename='img/error/404.jpg')}}")/>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}