{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="container">
       <div class="col-md-6" id="sales_row_chart" ></div>
        <div class="col-md-3" id="makes_pie_chart"></div>
        <div class="col-md-3" id="models_pie_chart"></div>
        <div class="col-md-12" id="sales_line_chart"></div>
    </div>
</div>
<div class="row">
    <div class="container">
        <h1 class="text-center">
            Order History
        </h1>
        <div class="panel panel-primary" id="history-data-table">
            {% if sales != null %}
                <table class="table table-stripped" id="dc-data-table">
                    <div class="panel-heading">
                        <thead>
                            <th>Order Date</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Price</th>
                            <th>Engine Size</th>
                            <th>Seats</th>
                            <th>Colour</th>
                            <th>Fuel Type</th>
                            <th>Mileage</th>
                        </thead>
                    </div>
                    <div class="panel-body">
                        <tbody>

                        </tbody>
                    </div>
                </table>
            </div>
            {% else %}
                <p>
                    No Previous Orders
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/basic_chart.js') }}"></script>
{% endblock %}