{% extends "base.html" %}

{% block title %}
Users
{% endblock %}

{%block jumbotron %}
<h1 class="text-center">
    Current Users
</h1>
{% endblock %}

{% block content %}
<table class="table table-stripped">
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Is Active</th>
        <th colspan="2"></th>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_active }}</td>
            <td>
                <a type="button"  data-toggle="tooltip" title="Edit User"
                        href="{{ url_for('root.edit_user', user_id=user.id) }}">
                    <span class="fa fa-pencil fa-2x"></span>
                </a>
            </td>
            <td>
                <a type="button" class="{{ 'disabled' if not user.is_active }}" data-toggle="tooltip" title="Disable User"
                        href="{{ url_for('root.disable_user', user_id=user.id) }}">
                    <span class="fa fa-ban fa-2x"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('root.signup') }}"><span class="fa fa-plus fa-2x" data-toggle="tooltip" title="Add User"></span> </a>
{% endblock %}
